<body>
    <div id="mobile-navbar" class="mobile-navbar">
        <div class="mobile-header-logo">
            <a href="/." class="logo">blanK</a>
        </div>
        <div class="mobile-navbar-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav id="mobile-menu" class="mobile-menu slideout-menu">
        <ul class="mobile-menu-list">
        <a href="/">
                <li class="mobile-menu-item">Home</li>
            </a>
            <a href="/post/">
                <li class="mobile-menu-item">Archive</li>
            </a>
           <!--  <a href="/about">
                <li class="mobile-menu-item">About</li>
            </a> -->
            <a href="https://github.com/mjyi">
                <li class="mobile-menu-item">Github</li>
            </a>
        </ul>
    </nav>
    <div class="container" id="mobile-panel">
        <header id="header" class="header">
            <div class="logo-wrapper">
                <a href="/." class="logo">blanK</a>
            </div>
            <nav class="site-navbar">
                <ul id="menu" class="menu">
                    <li class="menu-item">
                        <a class="menu-item-link" href="/">Home</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-item-link" href="/post/">Archive</a>
                    </li>
                    <!-- <li class="menu-item">
                        <a class="menu-item-link" href="/about">About</a>
                    </li> -->
                    <li class="menu-item">
                        <a class="menu-item-link" href="https://github.com/mjyi">Github</a>
                    </li>
                </ul>
            </nav>
        </header>
